$bg-color: #FFF;
$text-color: #000;
$blue-color: #284AC2;

/* Start Aside */
.aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: 1px solid #E6E6E6;
    width: 110px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 120px;
    background-color: white;
    transition: all 0.3s ease;
    z-index: 99;

    &.active-aside {
        width: 65px;
        padding-top: 95px;

        a {
            span {
                display: none;
            }

            .massage {
                right: 13px;
                display: flex !important;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #959595;
        gap: 5px;
        font-size: 14px;
        position: relative;

        img {
            height: 22px;
        }

        svg {
            height: 27px !important;
            width: auto !important;
        }

        .massage {
            position: absolute;
            top: -2px;
            right: 35px;
            background-color: red;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            font-size: 13px;
            color: white;
            transition: all 0.3s;
        }
    }

    .toggle-menu {
        display: none;
    }

    .active-page {
        color: $blue-color;
    }
}

@media (max-width: 650px) {
    .aside {
        height: fit-content !important;
        width: 100% !important;
        top: auto;
        bottom: 0;
        right: 0 !important;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        z-index: 999;
        background-color: $bg-color;
        padding: 5px 0 !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;

        .authors,
        .sign,
        .contact {
            display: none;
        }


        .toggle-menu {
            display: flex;

            svg {
                width: 24px;
                transform: translateY(2px) !important;
            }

            span {
                transform: translateY(-3px) !important;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #959595;
            gap: 4px;
            font-size: 14px;

            span:first-child {
                display: block !important;
            }
        }   

        img {
            object-fit: contain;
        }

        .massage {
            top: -1px !important;
            right: -6px !important;
            display: flex !important;
        }



        span {
            font-size: 10px;
            display: block !important;
        }
    }
}

/* End Aside */