$bg-color: #FFF;
$text-color: #000;
$blue-color: #284AC2;


/* Start head App Authors */
.head-app-authors {
    display: none;
}

/* End head App Authors */

/* Start Content Authors */
.content-authors {
    overflow: hidden;
    margin: 70px 120px 0 0;
    transition: all 0.3s ease;

    h2 {
        padding: 10px 25px;
        margin: 0;
        color: #3e5fd7;
        font-size: 30px;
    }

    .authors {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;

        .box-author {
            height: 280px;
            box-shadow: 0 0 10px 0 #99999974;
            text-align: center;
            display: block;
            color: #000;
            overflow: hidden;
            transition: all .5s;
            border-radius: 15px;

            &:hover {
                box-shadow: 0 0 10px 0 blue;
                transform: translateY(-7px);
            }
            
            .name-img {
                position: relative;
                padding: 40px 20px 0px 20px;
                border-bottom: 1px solid #CCC;

                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    position: relative;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 5px;
                    font-size: 13px;
                    font-weight: 600;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 90px;
                    background-color: #3e5fd7;
                }
            }

            .info {
                padding: 10px 20px 10px 20px;

                .rate {
                    img {
                        height: 11px;
                    }

                    span {
                        font-size: 12px;
                        display: inline-block;
                        margin-top: -5px;
                    }
                }

                p {
                    margin-top: 5px;
                    color: #3e5fd7;
                    margin-bottom: 8px;
                    font-size: 16px;

                    span {
                        color: #000;
                    }
                }
            }
        }
    }
}
/* End Content Authors */

@media (max-width: 650px) {

    .head-app-authors {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        background-color: #3e5fd7;
        padding: 10px 20px;
        color: #FFF;

        h2 {
            font-size: 17px !important; 
        }

        a {
            img {   
                height: 15px;
            }
        }
    }

    .content-authors {
        margin: 0;
        padding-bottom: 100px;

        h2 {
            display: none;
        }

        .authors {
            grid-template-columns: repeat(2, minmax(140px, 1fr)) !important;
            justify-content: center;
            padding: 15px;
        }
    }
}

@media (max-width: 320px) {
    .content-authors .authors {
        grid-template-columns: repeat(1, 1fr) !important
    }
  }