$bg-color: #FFF;
$text-color: #000;
$blue-color: #284AC2;

/* Start Head Page */
.head-page-bookmark {
    display: flex;
    align-items: center;
    padding: 15px 35px;
    gap: 10px;
    border-bottom: 1px solid #E6E6E6;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 99;
    height: 85px;
    background-color: $bg-color;

    .name-site {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            display: flex;
            align-items: center;
            overflow: hidden;

            img {
                width: 145px;
            }
        }

        img {
            cursor: pointer;
        }
    }

    .search {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        div {
            width: 45%;
            position: relative;
        }

        input {
            border: none;
            width: 100%;
            background-color: #F3F3F3;
            padding: 15px 40px 15px 10px;
            border-radius: 25px;
        }

        img {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 16px;

        >a {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 45px;
                height: 45px;
            }
        }

        label {
            padding: 15px;
            border-radius: 50%;
            background-color: #E1E7FF;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .lang {
            position: relative;
            
            >span {
                display: flex;
                align-items: center;
                cursor: pointer;
                .lang-icon {
                    width: 40px;
                }
            }

            .choose {
                position: absolute;
                right: -50px;
                top: 60px;
                background-color: #3e5fd7;
                padding: 15px;
                display: none;

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 13px;
                    color: #FFF;
                    

                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}
/* End Head Page */

/* Start Aside */
.aside-bookmark {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: 1px solid #E6E6E6;
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 150px;

    a {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #959595;
        gap: 10px;
        font-size: 14px;
    }

    .toggle-menu {
        display: none;
    }

    .active-page {
        color: $blue-color;
    }
}
/* End Aside */

/* start mobil menu*/
.menu-mobil {
    position: fixed;
    left: 0;
    z-index: 9999;
    opacity: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #284ac2f0;
    padding: 0.5rem 1.87rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.open {
        top: 0;
        opacity: 1;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.75rem;

        .mobil-logo {
            width: 90px;
        }

        .close-menu-mobil {
            width: 18px;
            cursor: pointer;
        }
    }

    .mobil-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 85% !important;
        padding: 0;

        &-item {
            font-size: 1.57rem;
            padding: 5px 0 !important;
            width: 80%;
            text-align: center;
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                .mobil-list-link {
                    color: $bg-color;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 17px;
                    order: 2;
                }

                .icon-menu-mobil {
                    width: 19px;
                    color: white;
                    order: 1;
                }
            }

            .menu-lang {
                background-color: white;
                color: $blue-color;
                padding: 10px;
                border-radius: 5px;
                width: 75%;
                margin: auto;
                transition: all 3s;
                display: none;
                
                &.open-lang {
                    display: block;
                }

                .lang-item {
                    font-size: 17px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    border: 1px solid $blue-color;
                    margin-bottom: 5px;
                    border-radius: 5px;

                    img {
                        order: 1;
                    }

                    .text-lang {
                        order: 2;
                    }
                }
            }
        }

        &-item {
            border-top: 1px solid white !important;
        }

        &-item:first-child {
            border-top: transparent !important;
        }

        &-item:last-child {
           a {
            font-size: 14px;
            padding: 3px 7px;
            border-radius: 5px;
           }

           .sign {
            color: white;
            border: 1px solid white;
           }

           .login {
            background-color: white;
            color: $blue-color;
            font-weight: 600;
           }
        }
    }


}
/* end mobil menu*/

/* Start Content Bookmark page */
.contnet-bookmark {
    overflow: hidden;
    margin: 85px 140px 0 0;
    padding: 60px;

    .content-container {
        width: 100%;
        height: 100%;
        background-color: #F3F3F3;
        padding: 50px 40px;
        border-radius: 10px;

        .box-mark {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
            gap: 20px;

            .box {
                padding: 20px;
                background-color: #FFF;
                display: flex;
                gap: 30px;
                border-radius: 10px;

                .img {
                    img {
                        width: 170px;
                        height: 100%;
                    }
                }

                .info {
                    .head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .name-book {
                            p {
                                margin-bottom: 0;
                                margin-top: 0;
                                font-size: 20px;
                                width: fit-content;
                            }

                            span {
                                color: #656161;
                            }
                        }

                        .mark {
                            display: flex;
                            align-items: center;
                            gap: 30px;
                        }
                    }

                    .desc {
                        font-size: 16px;
                        color: #656161;
                    }

                    .num-page {
                        color: $blue-color;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
/* End Content Bookmark page */

/* Start App */
.head-bookmark-app {
    display: none;
}

.mark-blue {
    display: none;
}

.app-search {
    display: none !important;
}
/* End App */

@media(max-width: 991px) {
    .head-page-bookmark {
        display: none !important;
    }

    .aside-bookmark {
        height: fit-content !important;
        width: 100%;
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        z-index: 999;
        background-color: $bg-color;
        padding: 5px 0 !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;

        .authors,
        .sign {
            display: none;
        }


        .toggle-menu {
            display: flex;

            svg {
                width: 24px;
                transform: translateY(2px) !important;
            }

            span {
                transform: translateY(-3px) !important;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #959595;
            gap: 4px;
            font-size: 14px;
        }   

        img {
            object-fit: contain;
        }

        img:first-child {
            width:26px;
             height:18px;
        }

        img:nth-child(2) {
            width:13px;
             height:18px;
        }

        img:nth-child(3) {
            width:18px;
             height:18px;
        }

        img:nth-child(4) {
            width:20px;
             height:20px;
        }

        img:nth-child(5) {
            width:20px;
             height:20px;
        }



        span {
            font-size: 10px;
        }
    }

    .head-bookmark-app {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue-color;
        color: #FFF;
        position: relative;
        height: 140px;

        h2 {
            margin: 0;
        }

        a {
            position: absolute;
            left: 25px;
            top: 40%;

            img {
                width: 25px;
            }
        }
    }

    .contnet-bookmark {
        margin: 0;
        padding: 20px !important;

        .content-container {
            background-color: #FFF;
            padding: 0;

            >h2 {
                display: none;
            }

            .box-mark {
                padding-bottom: 90px;
                display: flex !important;
                flex-direction: column;

                .box {
                    background-color: #F3F3F3;

                    .img {
                        img {
                            width: 100px;
                        }
                    }

                    .info {
                        flex: 1;

                        .head {
                            flex-direction: row;
                            gap: 15px;
                            align-items: flex-start;

                            .mark {
                                margin-top: 10px;
                            }
                        }

                        .desc {
                            display: none;
                        }

                        .num-page {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

        .mark-blue {
            display: block !important;
        }

        .mark-black {
            display: none !important;
        }
    }

    .app-search {
        display: flex !important;
    }
}

@media(max-width: 650px) {
    .head-bookmark-app {
        height: 60px;

        h2 {
            font-size: 17px;
        }

        a {
            top: 33%;

            img {
                width: 20px;
            }
        }
    }

    .box-mark {
        gap: 10px !important;
        .box {
            padding: 7px 15px !important;
            height: 115px !important;

            .img {
                img {
                    height: 95% !important;
                }
            }

            .info {
                .head {
                    .name-book {
                        p {
                            font-size: 15px !important;
                            font-weight: 600;                        
                        }

                        span {
                            font-size: 15px;
                            transform: translateY(-5px);
                            display: block;
                        }
                    }

                    .mark {
                        img {
                            &:first-child {
                                width: 13px !important;
                            }

                            &:last-child {
                                width: 18px !important;
                            }
                        }
                    }
                }

                .num-page {
                    margin-top: 0px !important;
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 430px) {
    .box-mark {
        .box {
            padding: 7px 10px !important;
            gap: 15px !important;
            .info {
                .head {
                    .name-book {
                        p {
                            font-size: 13px !important;
                            font-weight: 600;                        
                        }

                        span {
                            font-size: 13px;
                            transform: translateY(-5px);
                            display: block;
                        }
                    }

                    .mark {
                        gap: 15px !important;
                        // flex-direction: column;

                        img {
                            &:first-child {
                                width: 12px !important;
                            }

                            &:last-child {
                                width: 17px !important;
                            }
                        }
                    }
                }

                .num-page {
                    margin-top: 0px !important;
                    font-size: 12px;
                    transform: translateY(-5px);
                }
            }
        }
    }
}

@media(max-width: 370px) {
    .box-mark {
        .box {
            .info {
                .head {
                    .mark {
                        flex-direction: column;    
                    }
                }
            }

        }
    }
}