/* Start Head Page Chats */
.head-page-chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 35px;
  gap: 10px;
  border-bottom: 1px solid #E6E6E6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 85px;
  background-color: #FFF;
}
.head-page-chats .name-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.head-page-chats .name-site a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.head-page-chats .name-site a img {
  width: 145px;
}
.head-page-chats .name-site img {
  cursor: pointer;
}
.head-page-chats .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.head-page-chats .search div {
  width: 45%;
  position: relative;
}
.head-page-chats .search input {
  border: none;
  width: 100%;
  background-color: #F3F3F3;
  padding: 15px 40px 15px 10px;
  border-radius: 25px;
}
.head-page-chats .search img {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
}
.head-page-chats .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.head-page-chats .icons > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.head-page-chats .icons > a img {
  width: 45px;
  height: 45px;
}
.head-page-chats .icons label {
  padding: 15px;
  border-radius: 50%;
  background-color: #E1E7FF;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.head-page-chats .icons .lang {
  position: relative;
}
.head-page-chats .icons .lang > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.head-page-chats .icons .lang > span .lang-icon {
  width: 40px;
}
.head-page-chats .icons .lang .choose {
  position: absolute;
  right: -50px;
  top: 60px;
  background-color: #3e5fd7;
  padding: 15px;
  display: none;
}
.head-page-chats .icons .lang .choose a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 13px;
  color: #FFF;
}
.head-page-chats .icons .lang .choose a img {
  width: 30px;
}

/* End Head Page Chats */
/* Start Aside Chats */
.aside-chats {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 1px solid #E6E6E6;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-top: 150px;
}
.aside-chats a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #959595;
  gap: 10px;
  font-size: 14px;
}
.aside-chats .toggle-menu {
  display: none;
}
.aside-chats .search {
  display: none;
}
.aside-chats .active-page {
  color: #284AC2;
}

/* End Aside */
/* start mobil menu*/
.menu-mobil {
  position: fixed;
  left: 0;
  z-index: 9999;
  opacity: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 74, 194, 0.9411764706);
  padding: 0.5rem 1.87rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-mobil.open {
  top: 0;
  opacity: 1;
}
.menu-mobil .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}
.menu-mobil .head .mobil-logo {
  width: 90px;
}
.menu-mobil .head .close-menu-mobil {
  width: 18px;
  cursor: pointer;
}
.menu-mobil .mobil-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 85% !important;
  padding: 0;
}
.menu-mobil .mobil-list-item {
  font-size: 1.57rem;
  padding: 5px 0 !important;
  width: 80%;
  text-align: center;
  cursor: pointer;
}
.menu-mobil .mobil-list-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.menu-mobil .mobil-list-item div .mobil-list-link {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.menu-mobil .mobil-list-item div .icon-menu-mobil {
  width: 19px;
  color: white;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.menu-mobil .mobil-list-item .menu-lang {
  background-color: white;
  color: #284AC2;
  padding: 10px;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  -webkit-transition: all 3s;
  transition: all 3s;
  display: none;
}
.menu-mobil .mobil-list-item .menu-lang.open-lang {
  display: block;
}
.menu-mobil .mobil-list-item .menu-lang .lang-item {
  font-size: 17px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border: 1px solid #284AC2;
  margin-bottom: 5px;
  border-radius: 5px;
}
.menu-mobil .mobil-list-item .menu-lang .lang-item img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.menu-mobil .mobil-list-item .menu-lang .lang-item .text-lang {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.menu-mobil .mobil-list-item {
  border-top: 1px solid white !important;
}
.menu-mobil .mobil-list-item:first-child {
  border-top: transparent !important;
}
.menu-mobil .mobil-list-item:last-child a {
  font-size: 14px;
  padding: 3px 7px;
  border-radius: 5px;
}
.menu-mobil .mobil-list-item:last-child .sign {
  color: white;
  border: 1px solid white;
}
.menu-mobil .mobil-list-item:last-child .login {
  background-color: white;
  color: #284AC2;
  font-weight: 600;
}

/* end mobil menu*/
/* Start Chats */
.content-chats {
  overflow: hidden;
  margin: 85px 140px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 85px);
}
.content-chats .chats-friends {
  width: 30%;
  padding: 20px;
  border-left: 1px solid #CCC;
  overflow: auto;
}
.content-chats .chats-friends .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.content-chats .chats-friends .head .name-head h2 {
  margin: 0;
}
.content-chats .chats-friends .head .name-head a {
  display: none;
}
.content-chats .chats-friends .head .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.content-chats .chats-friends .head .settings a img:first-child {
  display: none;
}
.content-chats .chats-friends .search {
  padding: 10px 0;
  position: relative;
}
.content-chats .chats-friends .search input {
  width: 100%;
  padding: 10px 18px;
  font-size: 17px;
  border: none;
  background-color: #E3E3E3;
  border-radius: 20px;
}
.content-chats .chats-friends .search img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  width: 17px !important;
}
.content-chats .chats-friends .all-chats {
  padding: 25px 0 0 0;
}
.content-chats .chats-friends .all-chats .box-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.content-chats .chats-friends .all-chats .box-chat:hover {
  background-color: #E9E9E9;
}
.content-chats .chats-friends .all-chats .box-chat .img-user img {
  width: 45px;
  border-radius: 50%;
}
.content-chats .chats-friends .all-chats .box-chat .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-chats .chats-friends .all-chats .box-chat .info .name-user-chat h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.content-chats .chats-friends .all-chats .box-chat .info .name-user-chat p {
  margin: 0;
  font-size: 15px;
  color: grey;
}
.content-chats .chats-friends .all-chats .box-chat .info .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-chats .chats-friends .all-chats .box-chat .info .notification .not {
  color: #FFF;
  background-color: #284AC2;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-chats .type-chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content-chats .type-chat .head {
  border-bottom: 1px solid #CCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
.content-chats .type-chat .head .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 15px 15px 0 15px;
}
.content-chats .type-chat .head .person img {
  width: 65px;
  border-radius: 50%;
}
.content-chats .type-chat .head .person .info p {
  margin: 0;
}
.content-chats .type-chat .head .person .info span {
  color: grey;
}
.content-chats .type-chat .head .back {
  cursor: pointer;
}
.content-chats .type-chat .head .back svg {
  width: 25px;
}
.content-chats .type-chat .chat-content {
  padding: 15px;
  overflow: auto;
  height: 620px;
}
.content-chats .type-chat .chat-content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 10px;
  position: relative;
}
.content-chats .type-chat .chat-content .right p {
  background-color: #D1DAF9;
  color: #707070;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 15px 15px 0 15px;
}
.content-chats .type-chat .chat-content .right .date {
  position: absolute;
  bottom: -11px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.content-chats .type-chat .chat-content .right .date span {
  font-size: 13px;
  color: gray;
}
.content-chats .type-chat .chat-content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
}
.content-chats .type-chat .chat-content .left p {
  background-color: #284AC2;
  color: #FFF;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content-chats .type-chat .chat-content .left .date {
  position: absolute;
  bottom: -11px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 8px;
}
.content-chats .type-chat .chat-content .left .date span {
  font-size: 13px;
  color: gray;
}
.content-chats .type-chat .input-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
  gap: 20px;
}
.content-chats .type-chat .input-chat .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.content-chats .type-chat .input-chat .input input {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #F7F7FB;
  border-radius: 20px;
}
.content-chats .type-chat .input-chat .input img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  cursor: pointer;
}
.content-chats .type-chat .input-chat .input-search img {
  width: 50px;
  cursor: pointer;
}

/* End Chats */
@media (max-width: 1260px) {
  .chats-friends {
    width: 40% !important;
  }
}
@media (max-width: 991px) {
  .aside-chats .search {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .head-page-chats {
    display: none !important;
  }
  .aside-chats {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
    z-index: 999;
    background-color: #FFF;
    padding: 5px 0 !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;
            box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;
  }
  .aside-chats .authors,
.aside-chats .sign {
    display: none;
  }
  .aside-chats .toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside-chats .toggle-menu svg {
    width: 24px;
    -webkit-transform: translateY(2px) !important;
            transform: translateY(2px) !important;
  }
  .aside-chats .toggle-menu span {
    -webkit-transform: translateY(-3px) !important;
            transform: translateY(-3px) !important;
  }
  .aside-chats a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #959595;
    gap: 4px;
    font-size: 14px;
  }
  .aside-chats img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .aside-chats img:first-child {
    width: 26px;
    height: 18px;
  }
  .aside-chats img:nth-child(2) {
    width: 13px;
    height: 18px;
  }
  .aside-chats img:nth-child(3) {
    width: 18px;
    height: 18px;
  }
  .aside-chats img:nth-child(4) {
    width: 20px;
    height: 20px;
  }
  .aside-chats img:nth-child(5) {
    width: 20px;
    height: 20px;
  }
  .aside-chats span {
    font-size: 10px;
  }
  .content-chats {
    margin: 0;
    height: auto;
  }
  .content-chats .chats-friends {
    width: 100% !important;
    padding: 0;
  }
  .content-chats .chats-friends .class-app {
    background-color: #284AC2;
    padding: 30px 15px;
    color: #FFF;
  }
  .content-chats .chats-friends .class-app .head {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-chats .chats-friends .class-app .head .name-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .content-chats .chats-friends .class-app .head .name-head .back {
    display: block !important;
  }
  .content-chats .chats-friends .class-app .head .settings a img:last-of-type {
    display: block !important;
  }
  .content-chats .chats-friends .class-app .head .settings a img:first-of-type {
    display: none;
  }
  .content-chats .chats-friends .class-app .search {
    margin-top: 30px;
  }
  .content-chats .chats-friends .class-app .search input {
    background-color: #1535AE;
    color: #FFF;
    padding: 15px;
  }
  .content-chats .chats-friends .class-app .search input::-webkit-input-placeholder {
    color: #FFF;
  }
  .content-chats .chats-friends .class-app .search input::-moz-placeholder {
    color: #FFF;
  }
  .content-chats .chats-friends .class-app .search input:-ms-input-placeholder {
    color: #FFF;
  }
  .content-chats .chats-friends .class-app .search input::-ms-input-placeholder {
    color: #FFF;
  }
  .content-chats .chats-friends .class-app .search input::placeholder {
    color: #FFF;
  }
  .content-chats .chats-friends .all-chats {
    padding: 15px 15px 95px 15px;
  }
  .content-chats .type-chat {
    display: none;
  }
}
@media (max-width: 650px) {
  .class-app {
    padding: 10px 15px !important;
  }
  .class-app .head .name-head h2 {
    font-size: 16px !important;
  }
  .class-app .head .settings a img {
    height: 16px;
  }
  .class-app .head .settings .back img {
    height: 12px !important;
  }
  .class-app .search {
    margin-top: 8px !important;
  }
  .class-app .search input {
    padding: 5px 12px !important;
  }
  .all-chats .chats-friends .box-chat {
    margin-bottom: -1px !important;
    border-radius: 11px !important;
  }
  .all-chats .chats-friends .box-chat .info .name-user-chat h3 {
    font-size: 14px !important;
    font-weight: 600;
  }
  .all-chats .chats-friends .box-chat .info .name-user-chat p {
    font-size: 13px !important;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  .all-chats .chats-friends .box-chat .info .notification .time {
    font-size: 11px !important;
    color: #A9A9B0;
  }
  .all-chats .chats-friends .box-chat .info .notification .not {
    width: 18px !important;
    height: 18px !important;
    font-size: 12px !important;
  }
  .all-chats .type-chat .head .person img {
    width: 50px !important;
  }
  .all-chats .type-chat .head .person p {
    font-size: 15px !important;
  }
  .all-chats .type-chat .head .person span {
    font-size: 14px !important;
    -webkit-transform: translateY(-5px) !important;
            transform: translateY(-5px) !important;
    display: block;
  }
  .all-chats .type-chat .head .back svg {
    width: 19px;
  }
  .all-chats .type-chat .chat-content {
    min-height: 430px !important;
  }
  .all-chats .type-chat .chat-content div {
    margin-bottom: 5px !important;
  }
  .all-chats .type-chat .chat-content div p {
    padding: 4px 10px !important;
    font-size: 13px !important;
  }
  .all-chats .type-chat .chat-content div .date {
    bottom: -15px !important;
  }
  .all-chats .type-chat .chat-content div .date span {
    font-size: 10px !important;
  }
  .all-chats .type-chat .input-chat {
    padding: 20px 15px !important;
  }
  .all-chats .type-chat .input-chat .input input {
    padding: 20px 15px !important;
  }
  .all-chats .type-chat .input-chat .input img {
    width: 22px;
  }
  .all-chats .type-chat .input-chat .input-search img {
    width: 34px !important;
  }
}
.close-chat {
  display: none !important;
}

.open-chat {
  display: block !important;
}