$bg-color: #FFF;
$text-color: #000;
$blue-color: #284AC2;

/* Start Content Page Profile 1 */
.content-profile-1 {
    overflow: hidden;
    margin: 70px 120px 0 0;
    padding: 20px;
    height: calc(100vh - 85px);
    background-color: #F8F8F8;
    transition: all 0.3s ease;

    .box-container {
        display: flex;
        gap: 50px;

        .box-user-info {
            padding: 20px;
            background-color: #FFF;
            width: 28%;
            height: 700px;
            border: 1px solid #CCC;

            .img {
                text-align: center;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .img-info {
                text-align: center;

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 600;
                }

                a {
                    font-size: 13px;
                    color: gray;
                    transform: translateY(-5px);
                    display: block;
                }
            }

            .links {
                margin-top: 40px;
                padding-bottom: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                border-bottom: 1px solid #CCC;

                a {
                    width: 40%;
                    text-align: center;
                    padding: 6px;
                    border-radius: 10px;
                    font-size: 15px;

                    &:first-of-type {
                        background-color: #FFF;
                        color: #284AC2;
                        border: 1px solid #284AC2;
                    }

                    &:last-of-type {
                        background-color: #284AC2;
                        color: #FFF;
                    }
                }
            }

            .stats-profile {
                margin-top: 20px;
                >div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    span {
                        color: grey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        img {
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
        }

        .reading {
            background-color: #FFF;
            padding: 30px;
            flex: 1;
            height: 700px;
            overflow: auto;
            border: 1px solid #CCC;

            h2 {
                margin-bottom: 50px;
            }

            .books {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        
                .card-book {
                    padding: 25px 20px;
                    box-shadow: 0 0 10px 0 #b6b6b6a9;
                    display: block;
                    color: $text-color;
                    min-height: 385px;
                    padding: 30px 10px 20px;
                    text-align: center;
                    position: relative;
                    border-radius: 15px;
        
                    .img-book {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
        
                        img:first-of-type {
                            width: 200px ;
                            height: 260px ;
                        }
                    }
            
                    p {
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 17px;
                        font-weight: 600;
                        text-align: center;
                    }
            
                    >div {
                        margin-top: -12px;
        
                        span {
                            font-size: 15px;
                        }
                    }
        
                    .mark-icon {
                        position: absolute;
                        top: 35px;
                        left: 25px;
        
                        img {
                            width: 42px;
                        }
                    }
                }
            }
        }

        .reading::-webkit-scrollbar {
            width: 5px;
        }
    }
}

.head-app-profile-1 {
    display: none;
}
/* End Content Page Profile 1 */

@media (max-width: 991px) {

    .content-profile-1 {
        overflow: auto !important;
        .box-container {
            flex-direction: column;
            gap: 0;

            .box-user-info {
                width: 100%;
                height: auto;
                border: none;

                
                .info-name-user {
                    display: flex;
                    gap: 15px;

                    .details-user {
                        flex: 1;

                        .img-info {
                            text-align: right;

                            p {
                                margin-top: 10px;
                                font-size: 20px;
                            }
    
                            a {
                                display: none;
                            }
                        }
    
                        .links {
                            margin-top: 15px;
                            padding: 0;
                            border: none;
                            justify-content: flex-start;
                            gap: 10px;

                            a {
                                width: 50%;
                            }
                        }
                    }
                }

                .stats-profile {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 60px;
                    background-color: #F8F8F8;
                    padding: 15px;

                    div {
                        flex-direction: column;

                        p {
                            order: 2;
                            margin: 0;
                        }

                        span {
                            order: 1;

                            img {
                                width: 18px !important;
                                height: 18px !important;
                            }
                        }
                    }
                }
            }

            .reading {
                border: none;
                padding-top: 0;

                h2 {
                    margin-top: 0;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .head-app-profile-1 {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        background-color: #284AC2;
        height: 60px;

        a:first-child {
            img {
                height: 16px;
            }
        }

        a:last-child {
            img {
                height: 14px;
            }
        }

        p {
            color: #FFF;
            font-size: 17px;
        }
    }

    .content-profile-1 {
        margin: 0;
        padding: 0;
        background-color: #FFF;
        height: auto;

        .box-container {
            .box-user-info {
                padding: 15px 20px !important;

                .info-name-user {
                    .img {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .details-user {
                        .img-info {
                            p {
                                font-size: 15px;
                            }
                        }

                        .links {
                            margin-top: 10px;

                            a {
                                width: 38%;
                                padding: 2px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .stats-profile {
                    margin-top: 15px !important;

                    div {
                        span {
                            font-size: 13px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                
            }

            .reading {
                h2 {
                    font-size: 16px;
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    .reading {
        .books {
            grid-template-columns: repeat(2, minmax(140px, 1fr)) !important;
            justify-content: center;
    
            .card-book {
                min-height: 280px !important;
                text-align: center !important;
                padding: 0 0 0 0 !important;
                overflow: hidden !important;
                

                .img-book {
                    margin: 0 !important;
                    display: block !important;

                    img {
                        width: 100% !important;
                        height: 185px !important;
                    }
                }
    
                p:first-of-type {
                    font-size: 14px !important;
                    font-weight: 700 !important;
                    margin: 0;
                    text-align: center !important;
                }

                span:first-of-type{
                    font-size: 12px !important;
                    color: #6A6A6A;
                }

                div {

                    img {
                        height: 10px;
                    }
                }

                .mark-icon {
                    left: 10px !important;
                    top: 10px !important;

                    img {
                        width: 33px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 310px) {
    .books {
        grid-template-columns: repeat(1, 1fr);
    }
}