/* Start Head Upload Page 2 */
.head-upload-2 {
    height: 90px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;

    .title-page {
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }
}
/* End Head Upload Page 2 */

/* Start Page Upload 2 */
.page-upload-2 {
    background-color: #F8F8F8;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-page-2 {
        background-color: #FFF;
        width: 50%;
        padding: 20px;
        border: 1px solid #CCC;
        border-radius: 8px;
        margin: 0;

        .head {
            text-align: center;

            h2 {
                margin-bottom: 0;
            }

            p {
                margin-top: -5px;
                color: gray;
                font-size: 15px;
            }
        }

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            form {
                width: 60%;

                .input-text {
                    margin-bottom: 15px;

                    label {
                        margin-bottom: 10px;
                        display: none;
                    }

                    input {
                        width: 100%;
                        padding: 12px 15px;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                    }
                }

                .textarea {
                    margin-bottom: 15px;

                    label {
                        margin-bottom: 10px;
                        display: none;
                    }

                    textarea {
                        width: 100%;
                        height: 150px;
                        padding: 10px 15px;
                        resize: none;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                    }
                }

                .upload {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 20px;

                    label {
                        border: 2px dashed #ABABAB;
                        width: 100%;
                        padding: 20px;
                        cursor: pointer;

                        p {
                            margin-bottom: 0;
                            font-size: 14px;
                        }
                    }
                }

                .check {
                    margin-bottom: 15px;

                    input, label {
                        cursor: pointer;
                    }
                }

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    a {
                        width: 50% ;
                        text-align: center;
                        padding: 5px;
                        border-radius: 5px;

                        &:first-of-type {
                            color: blue;
                            border: 1px solid blue;
                        }

                        &:last-of-type {
                            color: #FFF;
                            background-color: blue;
                        }
                    }
                }
            }
        }
    }
}

.head-app {
    display: none;
}

@media(max-width: 1200px) {
    .page-upload-2 {
        .content-page-2 {
            width: 70% !important;
        }
    }
}

@media(max-width: 650px) {
    .head-upload-2 {
        height: 230px;
        background-color: #284AC2;
        padding: 20px;
        display: flex;

        .title-page {
            display: none;
        }

        .head-app {
            display: block !important;
            width: 100%;
            color: #FFF;

            img {
                display: block;
                margin-right: auto;
            }

            h3 {
                margin-bottom: 0;
                font-size: 25px;
            }

            p {
                margin-top: 5px;
            }
        }
    }

    .page-upload-2 {
        background-color: #FFF;
        overflow: hidden;
        padding: 10px 0 100px 0;

        .content-page-2 {
            width: 100% !important;
            border: none;
            background-color: transparent;
            margin: 0 !important;

            .head {
                display: none;
            }

            .form {
                margin-top: 20px;

                form {
                    width: 95%;

                    .input-text {
                        label {
                            display: block !important;
                        }

                        input::placeholder {
                            opacity: 0;
                        }
                    }

                    .textarea {
                        label {
                            display: block !important;
                        }

                        textarea::placeholder {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
/* End Page Upload 2 */

@media(max-width: 500px) {
    .head-upload-2 {
        height: 80px;
        position: relative;
        padding: 15px !important;

        .head-app {
            a {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
            }

            h3 {
                font-size: 15px;
            }

            p {
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }

    .content-page-2 {
        padding: 15px !important;

        .form {
            margin-top: 0 !important;

            .input-text {
                margin-bottom: 5px !important;

                label {
                    margin-bottom: 2px !important;
                    font-size: 13px !important;
                }

                input {
                    padding: 6px 13px !important;
                }
            }

            .textarea {
                margin-bottom: 5px !important;

                label {
                    margin-bottom: 2px !important;
                    font-size: 13px !important;
                }

                textarea {
                    height: 100px !important;
                    padding: 6px 15px !important;
                }
            }

            .upload {
                margin-bottom: 10px !important;

                label {
                    padding: 13px 17px !important;
                    img {
                        width: 20px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }

            .check {
                margin-bottom: 10px !important;
                display: flex;
                gap: 5px;
                align-items: center;

                label {
                    font-size: 14px;
                }
            }

            .button {
                a {
                    padding: 2px !important;
                    font-size: 14px !important;
                }
            }
        }
    }
}