[dir='rtl'] .slick-slide
{
    float: left;
}

.slick-slider .slick-track, 
.slick-slider .slick-list {
    direction: ltr;
}

/* Start Head Upload Page 2 */
.head-upload-3 {
    height: 90px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;

    .title-page {
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }
}
/* End Head Upload Page 2 */

/* Start Page Upload 2 */
.page-upload-3 {
    background-color: #F8F8F8;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-page-3 {
        background-color: #FFF;
        width: 50%;
        padding: 10px;
        border: 1px solid #CCC;
        border-radius: 8px;
        margin: 0;

        .head {
            text-align: center;

            h2 {
                margin-bottom: 0;
                font-size: 22px;
            }
        }

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;


            form {
                width: 60%;

                .input-text {
                    margin-bottom: 10px;

                    label {
                        margin-bottom: 2px;;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            font-size: 15px;
                        }

                        .btn-text {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            img {
                                width: 24px;
                            }
                        }
                    }

                    input {
                        width: 100%;
                        padding: 7px 15px;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                        color: #ABABAB;
                    }
                }

                .textarea {
                    margin-bottom: 0;

                    label {
                        margin-bottom: 2px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            font-size: 15px;
                        }

                        .btn-text {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            img {
                                width: 24px;
                            }
                        }
                    }

                    textarea {
                        width: 100%;
                        height: 120px;
                        padding: 7px 15px;
                        resize: none;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                        color: #ABABAB;
                    }
                }

            }
        }

        .book-slider {
            width: 60%;
            margin: auto;
            padding: 10px 20px;
            margin-bottom: 7px;
            text-align: center;

            img {
                width: 90%;
                margin: auto;
                object-fit: cover;
                height: 230px;
            }
        }

        .btn-upload {
            width: 60%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            a {
                width: 50%;
                text-align: center;
                padding: 5px;
                font-size: 15px;
                border-radius: 10px;

                &:first-of-type {
                    background-color: #284AC2;
                    color: #FFF;
                }

                &:last-of-type {
                    color: #284AC2;
                    border: 1px solid #284AC2;
                }
            }
        }
    }
}

.head-app {
    display: none;
}

@media(max-width: 1200px) {
    .page-upload-3 {
        .content-page-3 {
            width: 70% !important;
        }
    }
}

@media(max-width: 650px) {
    .head-upload-3 {
        height: 170px;
        background-color: #284AC2;
        padding: 20px;
        display: flex;

        .title-page {
            display: none;
        }

        .head-app {
            display: block !important;
            width: 100%;
            color: #FFF;

            img {
                display: block;
                margin-right: auto;
            }

            h3 {
                margin-bottom: 0;
                font-size: 25px;
            }

            p {
                margin-top: 5px;
            }
        }
    }

    .page-upload-3 {
        background-color: #FFF;
        overflow: hidden;
        padding: 0 0 100px;

        .content-page-3 {
            width: 100% !important;
            border: none;
            background-color: transparent;
            margin: 0;

            .head {
                display: none;
            }

            .form {
                margin-top: 20px;

                form {
                    width: 95%;
                }
            }
        }
    }

    .btn-upload {
        width: 100% !important;
    }
}

@media(max-width: 600px) {
    .head-upload-3 {
        height: 80px !important;
        padding: 10px !important;
        position: relative;

        a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }

        h3 {
            font-size: 17px !important;
        }
    }

    .content-page-3 {
        padding: 0px 25px 35px 25px !important;

        .form {
            .input-text {
                margin-bottom: 10px !important;

                label {
                    margin-bottom: 5px !important;
                    span {
                    font-size: 13px !important;
                    }

                    .btn-text {
                        img {
                            width: 22px;
                        }
                    }
                }

                input {
                    padding: 6px 13px !important;
                }
            }

            .textarea {
                margin-bottom: 5px !important;

                label {
                    margin-bottom: 5px !important;
                    
                    span {
                        font-size: 13px !important;
                    }

                    .btn-text {
                        img {
                            width: 22px;
                        }
                    }
                }

                textarea {
                    height: 100px !important;
                    padding: 6px 15px !important;
                }
            }
        }
    }

    .book-slider {
        width: 100% !important;
        padding: 10px !important;
        margin-bottom: 5px !important;
    }

    .btn-upload {
        a {
            padding: 2px !important;
            font-size: 14px !important;
        }
    }
}
/* End Page Upload 2 */

/* Start Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.314);
    transform: scale(0,0);
    transition: all .3s;

    &.scale-open {
        transform: scale(1,1);
    }

    .content {
        background-color: #FFF;
        padding: 20px;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        position: relative;

        img {
            width: 110px;
        }

        p {
            font-size: 22px;
            text-align: center;
        }

        a {
            background-color: blue;
            color: #FFF;
            padding: 5px 35px;
            border-radius: 20px;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-weight: 600;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

@media (max-width: 991px) {
    .popup {
        .content {
            width: 300px;
            height: 350px;
        }
    }
}
/* End Popup */